/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #528e2b;
}

body, html {
    margin: 0;
    padding: 0;
}

canvas {
    cursor:none;
    position: relative;
}

#accueil {
    z-index: 1;
    position: absolute;
    top: 0;
}